 

.videos01{
    justify-items: auto;
    text-align: center;
    margin: 5px;
    padding: 5px;
    max-width: 100%;
    justify-content: center;
    border: 1px solid red;
}
.video0.1{
    
    height: 315px;
     width: 560px;
    display:flex;
    f
}